@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

body{
    background-image: url("images/road-trip.webp");
    background-size: 1550px 900px;
    background-repeat: no-repeat;
     
    margin: auto;
    text-align: center;
    font-family: Monospace, serif;
    background-color: #e5e5e5;
}

.header{
    
    height : 75px;
    font-size: 70px;
    text-align: justify;
    color: white;
    

}
/* .container {
    width: 100%;
    height: 100%;
} */

.button-container {
    text-align: center; /* Optional: Center align the buttons */
  }
  
  .button {
    display: inline-block;
    margin: auto; /* Adjust margin as needed */
    padding: 8px 12px;
    border: 0;
    background-color: #FFF;
    opacity: 0.7;
    color: rgba(0, 0, 0, 1);
    visibility: visible;
    width: 200px;
    height: 100px;
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    bottom: 40px;
  }

  .warning {
    color: #f00; /* Red text for attention */
    font-weight: bold; /* Bold for emphasis */
    text-align: center; /* Centered for visual clarity */
    padding: 10px; /* Add some padding for space */
    border: 1px solid #f00; /* Optional border for visual distinction */
    background-color: #ffe5e5; /* Optional light red background */
  }

/* .option {
    padding: 8px 12px;
    border: 0;
    background-color: #FFF;
    opacity: 0.7;
    color: rgba(0, 0, 0, 1);
    visibility: visible;
    width: 200px;
    height: 100px;
    cursor: pointer;
    font-size: 50px;
    position: absolute;
} */